@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}
nav{
    background-color:black;
    color:white;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    /* background-color: rgb(152, 243, 176); */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    /* margin-top: 5vw; */
    display:grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.box{
    border: 2px solid black;
    font-size: 10vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(160, 235, 165);
}

.gameInfo{
    padding: 0 10px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bl0{
    border-left: 0;
}
.br0{
    border-right: 0;
}
.bt0{
    border-top: 0;
}
.bb0{
    border-bottom: 0;
}

.info{
    font-size: 20px;
}
#reset{
    margin: 10px 20px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: whitesmoke;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#reset:hover{
    background-color: gray;
}

@media screen and (max-width:950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }

    .gameInfo{
        margin-top: 34px;
    }

}